<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- NOTE: Do not enter raw AWS credentials in this version-controlled App.config file!
    They belong in the following local-only credentials file: -->
    <add key="AWSProfilesLocation" value="C:\\ShelfRokr\\AWSConfig\\credentials" />
    <add key="AWSRegion" value="us-east-1" />

    <!-- S3 bucket settings. -->
    <add key="productVideoBucket" value="shelfrokr-product-videos" />
    <add key="videoConfig" value="C:\\ShelfRokr\\config\\videoConfig.json" />
    <add key="videoDirectory" value="C:\\ShelfRokr\\ProductVideos\\" />
    <add key="videoFileExtension" value=".wmv" />

    <add key="shelfInventoryFile" value="C:\\ShelfRokr\\Data\\products.json" />
  </appSettings>
</configuration>